.Rproj.user/
.Rhistory
.RData
.Ruserdata
.Rapp.history
.Rprofile
outputs/*
!outputs/.gitkeep
!outputs/figures/
!outputs/results/
!outputs/rds/
!outputs/figures/**
!outputs/results/**
!outputs/rds/**
!outputs/enrichment/
!outputs/**/README.md


# normalized analysis output
outputs_normed/*
!outputs_normed/.gitkeep
!outputs_normed/**



data/*
!data/README.md
!data/*.csv
!data/*.tsv
!data/raw_annotated_combined.counts
!data/normed_cpms_filtered_annot.csv

*/00LOCK*

# Ignore R history even inside results
outputs/results/.Rhistory
