.Rproj.user/
.Rhistory
.RData
.Ruserdata
.Rapp.history
.Rprofile
outputs/*
!outputs/.gitkeep
!outputs/figures/
!outputs/results/
!outputs/rds/
!outputs/figures/**
!outputs/results/**
!outputs/rds/**
# normalized analysis output
outputs_normed/*
!outputs_normed/.gitkeep
!outputs_normed/**


data/*
!data/README.md
!data/*.csv
!data/*.tsv
*/00LOCK*

# Ignore R history even inside results
outputs/results/.Rhistory
